@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.progress {
    /* width: 150px; */
    height: 150px;
    background: none;
    position: relative;
  }
  

  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress .progress-right {
    right: 0;
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  
  .rounded-lg {
    border-radius: 1rem;
  }
  
  .text-gray {
    color: #aaa;
  }
  
  div.h4 {
    line-height: 1rem;
  }
  




  .card {
    border: none;
    height: 300px;
    background-color: black;
}

.bg-white {
    background-color: #fff
}

.price {
    font-size: 35px;
    color: #6a5ae7;
    font-weight: 600
}

.pricing-1 {
    background-color: #1f1f1f;
    height: 145px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 15px;
    color: #fff;
    position: relative
}

.pricing-2 {
    background-color: #6f5fe8;
    height: 145px;
    width: 100%;
    border-radius: 4px
}



#userID{
    color:#a9b2c3;
}

#statCards{
  background-color: #1f1f1f;
  color:#a9b2c3;
}